
@media (min-width: 600px) {
.resultspage{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

.searchcolumn{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5vh;
    padding-left: 2vw;
}

.searchcolumn h3{
    text-decoration: underline;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.categories{
    display: flex;
    flex-direction: column;
}

.size label{ 
    display: flex;
    flex-direction: row;
}

.colours {
    display: flex;
    flex-direction: column;
}

.resultscolumn{
    width: 80%;
    display: block;
}

.resultscontainer{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5vh;

}

.productcard{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60vh;
    font-size:1vw;
}

.productcard img{
    width: 100%;
}

.productlink{
 text-decoration: none;
 color: #000;
}
.homelinks a{
    text-decoration: none;
    color: #000;
}

.homelinks {
    display: flex;
    flex-direction: row;
    margin: 3%;
}
}




@media (max-width: 600px) {
    .homelinks a{
        text-decoration: none;
        color: #000;
    }
    
    .homelinks {
        display: flex;
        flex-direction: row;
        margin: 3%;
    }

    .resultspage{
        width: 100%;
        max-width: 100vw;
}

.productlink{
    text-decoration: none;
    color: #000;
}

.searchcolumn{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.categories{
    display: flex;
    flex-direction: column; 
}

.size{
    display: flex;
    flex-direction: column; 
}

.colours{
    display: flex;
    flex-direction: column;   
}

.resultscolumn{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.resultscontainer{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.productcard img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.setrow1, .setrow1{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

}
